header{
    overflow: hidden;
    background-color: #01814e;
    height: 170px;
}

/* header .container{
    margin: 0px;
    display: flex;
} */

.logo{
    padding: 2%;
}

.main-logo{
    width: 30%;
    height: auto;
}

.titulo .titulo-principal, .titulo-secundario{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
}


.text-center{
    justify-content: center;
    
}




/* index busquedas */
.contenedor-principal{
    height: 100%;
}
.izquierda{
    border-right: 1px solid lightgray;
    margin-right: 30px;
}