table th{
    background-color: #555;
    color: white;
}

table tr:nth-child(even){
    background-color: #aaa;
}

.late{
    color: white;
    background-color: red;
}


.resultado{
    table-layout: fixed;
    width: 100%;
}

.resultado .header{
    position:sticky;
    top: 0 ;
}

.resultado .contianer{
    height: 10px;
    overflow: auto;
}

#result tbody td{
    padding: 10px;
}


#result tbody td #nombre{
    padding: 5px;
}
